<!DOCTYPE html>
<html>
<head>
  <title>Faves&Hates</title>
</head>
<body>
  <ul>
  	<li><a href='/dinosaurs'>Dinosaur List and Name Filter</a></li>
  	<li><a href='/dinosaurs/new'>Add your own Dinosaur names</a></li>
    <br>
    <li><a href='/prehistoric_creatures'>Index (Read) displays all prehistoric creatures</a></li>
    <li><a href='/prehistoric_creatures/1'>Show (Read)	displays the type and photo of a particular prehistoric creature (id = 1)</a></li>
    <li><a href='/prehistoric_creatures/edit'>*** need help with this one *** form for editting a specific prehistoric creature (id = 1)</a>

  </ul>
  <%- body %>
</body>
</html>