<form method="POST" action="/prehistoric_creatures">
	<h1>Creature Type: <%= prehist.type %></h1>
	<label for="dinoType">Name</label>
		<input id="dinoName" type="text" name="name" autocomplete="off">	

		<input type='submit' value="Life find's a way">
</form>