<form method="POST" action="/dinosaurs">
	<label for="dinoType">Type</label>
		<input id="dinotype" type="text" name="type">

	<label for="dinoType">Name</label>
		<input id="dinoName" type="text" name="name" autocomplete="off">	

		<input type='submit' value="Life find's a way">
</form>